.gifCard{
  margin: 2% 0% 0% 5%;
}

.banner{
  width: 70%;
  height: 200px;
  margin-left: 15%;
  padding-top: 50px;
  background-color: black;
  text-align: center;
}
.banner p {
  font-size: 38px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}
.search-bar {
  text-align: center;
}
.search-bar *{
  margin-top: 5%;
  height: 25px;
}
.search-bar button{
  margin-left: 5px;
  background-color: #099c30;
  border: 1px solid #099c30;
  border-radius: 2px;
  color: white;
}
.search-bar button:hover{
  background-color: white;
  color: #027a22;
  border-color:5px solid #027a22;
}
body {
  background-color: lightblue;
}